/**import colours***/
/**@import url("./colors.css");**/
:root {
    --beige: #f3f3eb;
    --grey: #333333;
    --black: #000;
    --white: #fff;

    /**orangnes**/
    --lightOrange: #eec19e;
    --orange: orange;

    --orange1: #ff8e00;
    --orange2: #fd7702;
    --orange3: #ff5003;
}