/*
 * Globals
 */


/* Custom default button */



/*
 * Base structure
 */

.cover-container {
  max-width: 42em;
}

/*
 * Header
 */

.nav-masthead .nav-link {
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link+.nav-link {
  margin-left: 1rem;
}

#gridWhatLearnhub {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
  gap: 15vw;
}

#gridWhatLearnhub img {
  width: 35vw;
}

#gridWhatLearnhub p {
  width: 35vw;
}

#gridWithTeamRight p {
  margin-top: 6vw;
  width: 30vw;
  height: 2vh;
  margin-left: -15vw;
  text-align: left;
}

.mb-auto {
  position: fixed;
  width: 100vw;
  padding: 0.9vw;
  z-index: 1000000;
}

.mb-auto div nav a {
  display: block;
  text-align: center;
}

header .mb-auto nav.nav a {
  text-align: center;
}

.px-3 {
  margin-top: 2.5vw;
}

header {
  top: 0;
}

.backgroundImgLearnHub {
  margin-bottom: 10vw;
  margin-top: -10vw;
}

.backgroundImgLearnHub img {
  width: 100vw;
  filter: brightness(50%);
  opacity: .9;

}

#starttxt {
  width: 40vw;
  position: relative;
  margin-top: -35vw;
  margin-left: 32vw;
  padding: 2vw;
}

#starttxt h1 {
  font-weight: bold;
  text-align: center;
}

#starttxt li {
  margin-bottom: 1.8vw;
  margin-top: 1vw;
  font-size: 1vw;
  font-weight: bold;
  text-align: center;
}

.learnMore {
  text-decoration: none;
  padding: 0.8vw;
  border-radius: 10px;
  margin-top: 1vw;
  transition: ease-in-out 0.3s;
  margin-left: 13vw;
}

.learnMore:hover {
  transition: ease-in-out 0.3s;
}

.learnMore2 {
  text-decoration: none;
  padding: 0.8vw;
  border-radius: 10px;
  margin-top: 1vw;
  transition: ease-in-out 0.3s;
  margin-top: 2vw;
}

.learnMore2:hover {
  transition: ease-in-out 0.3s;
}

.learnMore3 {
  text-decoration: none;
  padding: 0.8vw;
  border-radius: 10px;
  margin-top: 1vw;
  transition: ease-in-out 0.3s;
  margin-top: 2vw;
  width: 20vw;
}

.learnMore3:hover {
  transition: ease-in-out 0.3s;
}

#teamSen p {
  margin-bottom: 3vw;
}

#whatsLearnhub {
  padding: 3vw;
}


#team {
  display: grid;
  grid-template-columns: auto auto;
  padding: 5vw;
}

#learnhubEx {
  display: grid;
  grid-template-columns: auto auto;
  padding: 5vw;
}

#course {
  display: grid;
  grid-template-columns: auto auto;
  padding: 5vw;
  margin-top: -5vw;
}

#whatsLearnhub2 {
  padding: 5vw;
  position: relative;
}

#course h2 {
  margin-bottom: 2vw;
}

#logoHeader {
  width: 4vw;
  position: absolute;
  top: 0vw;
}

#mainBackground {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contentTeam {
  margin: 5%;
}

.personContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
}

.personContent:hover {
  cursor: pointer;
}

#learnhubEx {
  grid-template-columns: auto auto;
}

.personContent {
  padding: 2%;
}

#contentSec {
  width: 100vw;
  height: 100vh;
}

#contentSec img {
  width: 100%;
}

.cont1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: center;
  color: black;
}

.cont11 {
  margin: 10%;
}

.cont2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: var(--lightOrange);
  justify-content: center;
}

.cont21 {
  margin: 10%;
}

.cont21 img {
  height: 50%;
}

.imgAlignContent{
  display: flex;
  justify-content: center;
  align-items: center;
}

.startbutton {
  cursor: pointer;
  width: 20%;
  background-color: var(--orange);
  border-radius: 30px;
  padding: 2vh;
  color: white;
  margin: auto;
  transition: ease-in-out 0.5s;
}
.startbutton:hover{
  background-color: var(--lightOrange);
}

#contentShow{
  padding-top: 15vh;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#alignShowing{
  margin-top: 20vh;
  width: 100%;
}
#showSubject{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.imgBox2{
  width: 400vw;
}
.getCont{
  padding: 2% !important;
  left: 40vw;
  width: 10vw;
  z-index: 200;
  position: absolute;
  top: 25vw;
  text-align: center;
}