/*
 * Globals
 */


/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

#gridWhatLearnhub{
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
  gap: 15vw;
}

#gridWhatLearnhub img{
  width: 20vw;
}

#gridWhatLearnhub p{
  text-align: left;
  width: 30vw;
  height: 20vh;
}

#gridWithTeam{
  display: grid;
  grid-template-columns: auto auto;
}

#gridWithTeam img{
  width: 20vw;
  margin-left: -12vw;
}

#gridWithTeam p{
  margin-left: 21vw;
  margin-top: 6vw;
  width: 30vw;
  height: 2vh;
  text-align: left;
}

#gridWithTeamRight{
  display: grid;
  grid-template-columns: auto auto;
}

#gridWithTeamRight img{
  width: 20vw;
  margin-left: 19vw;
}

#gridWithTeamRight p{
  margin-top: 6vw;
  width: 30vw;
  height: 2vh;
  margin-left: -15vw;
  text-align: left;
}

